<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337433996137-jj3smbt11fcboms1qsakfgqi70jaddmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337433996137-jj3smbt11fcboms1qsakfgqi70jaddmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfX0vf2WCxa-qlnnqd2YZ9bMbjmD92eKw</string>
	<key>GCM_SENDER_ID</key>
	<string>337433996137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirestore</string>
	<key>PROJECT_ID</key>
	<string>todo-510aa</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-510aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337433996137:ios:b4d9dc9becb9c6004b6bf8</string>
</dict>
</plist>